/*  your css code here. If applicable */
#container {
  margin: 20px;
  position: relative;
}

 
#container::after {
  content: "Special Text";
  color: #f00; 
  font-size: 20px;
  position: absolute;
}

#container::before {
  content: "Before Element"; 
  top: -40px;  
}

#container::after {
  content: "After Element";  
  bottom: -40px;  
}